[submodule "SciFortran"]
	path = lib/scifortran
	url = https://github.com/QcmPlab/SciFortran
[submodule "DMFT-tools"]
	path = lib/dmft-tools
	url = https://github.com/QcmPlab/DMFTtools
[submodule "DMFT-ED"]
	path = lib/dmft-ed
	url = https://github.com/QcmPlab/LIB_DMFT_ED
[submodule "DMFT-LAB"]
	path = lib/dmft-lab
	url = https://github.com/bellomia/DMFT-LAB
[submodule "lib/honeytools"]
	path = lib/honeytools
	url = https://github.com/QcmPlab/HoneyTools.git
[submodule "lib/m2tex"]
	path = lib/m2tex
	url = https://github.com/matlab2tikz/matlab2tikz.git
[submodule "lib/export_fig"]
	path = lib/export_fig
	url = https://github.com/altmany/export_fig.git
